// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

header h1 {
  font-family: $font-header;
  font-size: 50px !important;
}

.entry-content {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 16px;
}
